.fancy {
	font-family: 'Roboto', sans-serif;
}

.master {
	text-align: center;
	border-top: solid rgba(0, 0, 0, 0.1) 2px;
	border-bottom: solid rgba(0, 0, 0, 0.1) 2px;
	width: 100%;
	font-size: 24pt;
	display: block;
	margin: auto;
	vertical-align: middle;
}

.logo {
	text-align: center;
}

.logo a {
	text-decoration: none;
}

.logo a:hover {
	text-decoration: none;
}

.logo a:visited {
	text-decoration: none;
}

.logo img {
	width: 150pt;
	margin: 15pt 25pt 15pt 25pt;
}

.header {
	padding-bottom: 10pt;
	margin-bottom: 40pt;
	background-color: #fafafa;
}

.banner {
	background-color: rgba(255, 255, 255, 0.7);
	display: table-cell;
	height: 250pt;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.banner h1 {
	display: inline-block;
}

.banner hr {
	opacity: 50%;
	border-color: rgba(0, 0, 0, 0.1);
}

.content, .content p {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    width: 600pt;
    font-size: 12pt;
    line-height: 200%;
}

.partners, .partners p {
	display: block;
	text-align: center;
}

.partners img {
	width: 200pt;
	margin:15pt 25pt 15pt 25pt;
}

.partners hr {
	width: 500pt;
	opacity: 50%;
	border-color: rgba(0, 0, 0, 0.1);
}

