<!DOCTYPE html>
<html lang="en">
	<head>
		<title>POETS</title>
		<link rel="shortcut icon" type="image/png" href="static/img/favicon.png"/>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.teal-red.min.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
		<link rel="stylesheet" href="static/css/mystyle.css">
	</head>
	<body>
		<div id="container"></div>
        <div class="master banner">

			<div class="logo">
			<a href="https://poets-project.org/">
				<img src="static/img/POETS-logo.svg">
			</a>
			<br/>
			</div>

			<h3 class="fancy">Partially Ordered Event Triggered Systems</h3>

			<hr>

			<button onClick="window.location='about.htm';" class="mdl-button mdl-js-button">
				About
			</button>
			<button onClick="window.location='partners.htm';" class="mdl-button mdl-js-button">
				Partners
			</button>
			<button onClick="window.location='publications.htm';" class="mdl-button mdl-js-button">
				Publications
			</button>
			<button onClick="window.location='tools.htm';" class="mdl-button mdl-js-button">
				Tools
			</button>
			<button onClick="window.location='news.htm';" class="mdl-button mdl-js-button">
				News
			</button>
			<button onClick="window.location='contact.htm';" class="mdl-button mdl-js-button">
				Contact
			</button>

		<!-- 	<center>
			<p class='text'>
			POETS (Partially Ordered Event Triggered Systems) technology is
			based on the idea of an extremely large number of small cores,
			embedded in a fast, hardware, parallel communications
			infrastructure &mdash; the <em>core mesh</em>. Inter-core communication is
			effected by small (a few bytes), fixed size, hardware data packets,
			aka <em>messages</em>.</p>

            <p class='text'>
			The POETS project describes research to investigate and prototype
			a software methodology and associated hardware platform to realise
			the potential of this architecture.</p>

            <p class='text'>
			The physical implementation of such a system imposes a fixed and
			finite topology on the core graph, but a thin (hardware) layer on
			top of the cores allows the user to virtualise an arbitrary
			connectivity graph on top of the physical one. Once this is done,
			the mapping of problem domain to processor mesh follows naturally.</p>

			</center> -->

		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
		<script src="static/js/detector.js"></script>
		<script src="static/js/torus.js"></script>
	</body>
</html>
